{{extend name="public/base"}}

{{block name="main"}}
<div class="col-md-8">

	<div class="table-responsive">
		<table class="table table-hover table-condensed table-striped">
			<tr>
				<th>id</th>
				<th>标题</th>
				<th>uid</th>
				<th>创建时间</th>
				<th>操作菜单</th>
			</tr>
			{{volist name="blogs" id="vo"}}
			<tr>
				<td>{{$vo.id}}</td>
				<td>{{$vo.title}}</td>
				<td>{{$vo.uid}}</td>
				<td>{{$vo.created}}</td>
				<td></td>
			</tr>
			{{/volist}}
		</table>
		{{$blogs->render()}}
	</div>
	
</div>
{{/block}}
{{block name="right"}}
<div class="col-md-4">
	<h1>用户详情</h1>
</div>
{{/block}}